body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 20px; 
  background-color:rgb(250, 250, 250);
}

.content {
  margin-top: 30px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}

.content-form {
  margin-top: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.row-title{
  margin-top:25px;
  margin-bottom: 10px;
  vertical-align: baseline;
}

.graphs{
  margin:30px;
}

.navbar {
  background-color:#2A3F54;
  box-shadow: 0px 1px 10px 1px rgba(77,77,77,1);
  color: white;
}

.link {
  text-decoration: none;
}

.publication-form{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

table{
  background-color: white;
  table-layout: fixed;
}

td{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.chart{
  background-color: transparent;
  height: 300px;
  width: 100%;
}

label{
  float: left;
}

iframe {
  display: block;       
  background: #000;
  height: 100vh;        /* Viewport-relative units */
  width: 100%;
}

.dataTables_filter {
  float: right;
}