<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand"><i class="far fa-newspaper"></i> News Clipping</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Publications</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/stats">Stats</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/user/contributions">My Contributions</a>
          <a class="dropdown-item" href="/user/edit">Change User Info</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/user/sign-out">Sign Out</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/users">Users</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/admin/publication-settings">Publication Settings</a>
            <a class="dropdown-item" href="/admin/media-settings">Media Settings</a>
          </div>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/publication/search" method="post">
      <input class="form-control mr-sm-2" type="search" name="string" placeholder="Search publications" aria-label="Search">
      <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>