<!DOCTYPE html>
<html>
  <head>
    <title>User Info</title>
    <% include ./partials/css%>
  </head>
<body>
    <% if(admin == true) {%>
      <%  include ./partials/navbarAdmin%>
      <% }else{%>
      <%  include ./partials/navbar%>
      <% } %>
      <div class="content">
      </div>
      <% include ./partials/scripts%>
</body>
</html>
