<!DOCTYPE html>
<html>
  <head>
    <title>Impact Settings</title>
    <% include ./partials/css%>
  </head>
<body>
    <%- include('partials/navbar', {admin:admin}) %>
    <div class="content">
      <div class="row">
        <h2 style="float: left;"><%= title %></h2>
      </div>
      <div class="row row-title">
        <div class="col"><h3 style="float: left;">Classifications</h3></div>
        <div class="col"><a style="float: right;" href="/admin/add-classification" class="btn btn-info">Add new Classification</a></div>
      </div>
        <table class="table table-striped table-bordered table-responsive-lg" id="impacts-table">
          <thead>
            <tr>
              <th scope="col">Classifications</th>
            </tr>
          </thead>
          <tbody>
              <% for(var i=0; i<classifications.length; i++) {%>
              <tr>
                <td><%= classifications[i].classification %></td>
              </tr>
              <% } %>
          </tbody>
        </table>
    </div>
  <% include ./partials/scripts%>
  <% include ./partials/datatablesScripts%>
</body>
</html>
