<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Communication Reporting Tool</title>
    <% include ./partials/css%>
</head>
<body>
    <%- include('partials/navbar', {admin:admin}) %>
    <div class="content">

      <h2 class="display-4" style="padding: 20px;color: #2A3F54">Content Management</h2>

      <div class="jumbotron" style="background-color: rgb(29, 84, 155);color: white">
        <div class="container">
          <h1 class="display-4">Disseminations</h1>
          <p class="lead">Press Releases or News published</p>
          <a class="btn btn-info btn-lg" href="/disseminations" role="button">See disseminations</a>
          <a class="btn btn-success btn-lg" href="/disseminations/add" role="button">Add new dissemination</a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="jumbotron" style="background-color: #2C73D2;color: white">
              <div class="container">
                <h1 class="display-4">Impacts</h1>
                <p class="lead">Impacts that our dissemination activities (PR and News) through the mailing list, distribution portals and social media have on different media outlets. We also add “other media impacts” that are a result of our proactivity but they don’t relate to any Press Release or News.</p>
                <a class="btn btn-info btn-lg btn-block" href="/impacts" role="button">See Impacts</a>
                <a class="btn btn-success btn-lg btn-block" href="/impacts/add" role="button">Add new Impact</a>
              </div>
            </div>
        </div>

        <div class="col">
          <div class="jumbotron" style="background-color: #0081CF;color: white">
            <div class="container">
              <h1 class="display-4">Social Media</h1>
              <p class="lead">Posts that we published weekly on Twitter, Instagram, Facebook and LinkedIn and any mention to our accounts on said social networks.</p>
              <a class="btn btn-info btn-lg btn-block" href="/sm-shares" role="button">See SM Shares</a>
              <a class="btn btn-success btn-lg btn-block" href="/sm-shares/add" role="button">Add new SM Share</a>
            </div>
          </div>
        </div>
      </div>

      <h2 class="display-4" style="padding: 20px;color: #2A3F54">Data Analysis</h2>
      
      <div class="row">
          <div class="col">
            <div class="jumbotron" style="background-color: #0089BA;color: white">
                <div class="container">
                  <h1 class="display-4">Statistics</h1>
                  <p class="lead">Check out stats about the data registered in the tool, served from Metabase.</p>
                  <a class="btn btn-info btn-lg btn-block" href="/stats" role="button">See Stats</a>
                </div>
              </div>
          </div>

          <div class="col">
            <div class="jumbotron" style="background-color: #008E9B;color: white">
              <div class="container">
                <h1 class="display-4">Metabase</h1>
                <p class="lead">Metabase is business intelligence tool that lets you create graphs in real time and publish them online.</p>
                <a class="btn btn-info btn-lg btn-block" href="/" onclick="javascript:event.target.port=5000" target="blank" target= role="button">Go to Metabase</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col" >
            <div class="jumbotron" style="background-color: rgb(103, 49, 210);color: white">
              <div class="container">
                <h1 class="display-4">Report</h1>
                <p class="lead">Download a report in word format for a period of time.</p>
                <a class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#reportModal" role="button">Download Report</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="jumbotron" style="background-color: rgb(156, 37, 215);color: white">
              <div class="container">
                <h1 class="display-4">Spreadsheet</h1>
                <p class="lead">Download all data in an excel file for a period of time.</p>
                <a class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#spreadsheetModal" role="button">Download Spreadsheet</a>
              </div>
            </div>
          </div>
        </div> 

      </div>
    </div>
    <% include ./partials/scripts%>
</body>
</html>
