<!DOCTYPE html>
<html>
<head>
    <title>Welcome to IMDEA Network's Communication Reporting Tool</title>
    <% include ./partials/css%>
</head>
<body>
    <%- include('partials/navbar', {admin:admin}) %>
    <div class="content">
      <h1>Welcome to IMDEA Network's Communication Reporting Tool</h1>
    </div>
    <% include ./partials/scripts%>
</body>
</html>