<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
    <% include ./partials/css%>
  </head>
<body>
  <div class="content-form">
  	<% if (authMessage.length > 0) { %>
    <div class="alert alert-danger">
      <%= authMessage %>
    </div>
    <% } %>
    <form class="publication-form" action="/user/login" method="post" novalidate>
    <div class="row">
      <div class="col">
        <h2 style="float:left">Login</h2>
      </div>
      <div class="col">
        <a class="navbar-brand" style="float:right"><i class="far fa-newspaper"></i> News Clipping</a>
      </div>
    </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Username</label>
        <input type="text" id="username" class="form-control" name="username" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Password</label>
        <input type="password" id="password" class="form-control" name="password" required>
      </div>
      <button type="submit" class="btn btn-success" style="float: right; padding: 10px; margin: 10px;">Login</a>
    </form>
  </div>
<% include ./partials/formValidationScript%>
<% include ./partials/scripts%>
</body>
</html>
