<!DOCTYPE html>
<html>
  <head>
    <title>New Dissemination</title>
    <% include ./partials/css%>
  </head>
<body>
    <%- include('partials/navbar', {admin:admin}) %>
    <div class="content-form">
      <form class="publication-form" action="/disseminations/add" method="post" novalidate>
        <h2>Add Dissemination</h2>

        <div class="form-group">
          <label for="exampleFormControlInput1">Headline*</label>
          <input type="text" class="form-control" name="headline" data-toggle="tooltip" title="English headline published on the website" required>
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">Lead Paragraph*</label>
          <textarea class="form-control" name="lead_paragraph" rows="3" required></textarea>
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">Summary*</label>
          <textarea class="form-control" name="summary" rows="3" data-toggle="tooltip" title="A short version of the headline picking the most important words to summarize the information" required></textarea>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <label for="exampleFormControlSelect1">Date Published*</label>
            <input type="date" class="form-control" name="date" required>
          </div>
          <div class="form-group col">
            <label for="exampleFormControlSelect1">PR/NEWS*</label>
            <select class="form-control" name="pr_news" required>
              <option disabled selected value> -- select an option -- </option>
              <option value="PR">PR</option>
              <option value="NEWS">NEWS</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">URL*</label>
          <input type="text" class="form-control" name="url" required>
        </div>

      <a class="btn btn-danger btn-lg" style="float: left; padding: 10px; margin: 10px; width:30%" href="/disseminations/" >Cancel</a>
      <button type="submit"class="btn btn-success btn-lg" style="float: right; padding: 10px; margin: 10px; width:30%">Add dissemination</a>
    </form>
  </div>
  <% include ./partials/formValidationScript%>
  <% include ./partials/scripts%>
</body>
</html>
