<!DOCTYPE html>
<html>
  <head>
    <title>New Dissemination</title>
    <% include ./partials/css%>
  </head>
<body>
    <%- include('partials/navbar', {admin:admin}) %>
    <div class="content-form">
      <form class="publication-form" action="/disseminations/add" method="post" novalidate>
        <h2>New Dissemination</h2>

        <div class="form-group">
          <label for="exampleFormControlInput1">Headline*</label>
          <input type="text" class="form-control" name="headline" required>
          <div class="invalid-feedback">
            This field cannot be empty
          </div>
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">Summary*</label>
          <textarea class="form-control" name="summary" rows="3" required></textarea>
          <div class="invalid-feedback">
            Please add a short summary of the publication
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col">
              <label for="exampleFormControlSelect1">Date Published*</label>
              <input type="date" class="form-control" name="date" required>
              <div class="invalid-feedback">
                You must add the date when the publication was made.
              </div>
          </div>
          <div class="form-group col">
            <label for="exampleFormControlSelect1">PR/NEWS</label>
            <select class="form-control" name="pr_news" required>
              <option disabled selected value> -- select an option -- </option>
              <option value="PR">PR</option>
              <option value="NEWS">NEWS</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-7">
            <div class="form-group">
              <label for="exampleFormControlInput1">Original URL*</label>
              <input type="text" class="form-control" name="url" required>
              <div class="invalid-feedback">
                Please copy and paste the URL from the publication here
              </div>
            </div>
          </div>
          <div class="form-group col-5">
            <div class="form-group">
              <label for="exampleFormControlInput1">Shortened URL</label>
              <input type="text" class="form-control" name="shortened_url">
            </div>
          </div>
        </div>

      <a class="btn btn-danger btn-lg" style="float: left; padding: 10px; margin: 10px; width:30%" href="/disseminations/" >Cancel</a>
      <button type="submit"class="btn btn-success btn-lg" style="float: right; padding: 10px; margin: 10px; width:30%">Add dissemination</a>
    </form>
  </div>
  <% include ./partials/formValidationScript%>
  <% include ./partials/scripts%>
</body>
</html>
