<!DOCTYPE html>
<html>
  <head>
    <title>New Media</title>
    <% include ./partials/css%>
  </head>
<body>
  <% if(admin == true) {%>
  <%  include ./partials/navbarAdmin%>
  <% }else{%>
  <%  include ./partials/navbar%>
  <% } %>
  <div class="content-form">
    <form class="publication-form" action="/media/add" method="post" novalidate>
      <h2>New Media</h2>
      <div class="form-group">
        <label for="exampleFormControlInput1">Name</label>
        <input type="text" id="name" class="form-control" name="name" required>
        <div class="invalid-feedback">
          You must add the name of the media
        </div>
      </div>
      <div class="form-group">
          <label for="exampleFormControlInput1">URL (Optional)</label>
          <input type="text" class="form-control" name="url">
        </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Type</label>
            <select class="form-control" name="type" required>
                <option disabled selected value> -- select an option -- </option>
                <% for(var i=0; i<types.length; i++) {%>
                    <option value="<%= types[i].id %>"><%= types[i].type %></option>
                <% }%>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
              <label for="exampleFormControlSelect1">Content</label>
              <select class="form-control" name="content" required>
                  <option disabled selected value> -- select an option -- </option>
                  <% for(var i=0; i<contents.length; i++) {%>
                      <option value="<%= contents[i].id %>"><%= contents[i].content %></option>
                  <% }%>
              </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Coverage</label>
                <select class="form-control" name="coverage" required>
                  <option disabled selected value> -- select an option -- </option>
                  <option value="local">Local</option>
                  <option value="regional">Regional</option>
                  <option value="national">National</option>
                  <option value="international">International</option>
                </select>
            </div>
          </div>
          <div class="col">
              <div class="form-group">
                  <label for="exampleFormControlSelect1">Format</label>
                  <select class="form-control" name="format" required>
                    <option disabled selected value> -- select an option -- </option>
                    <option value="online">Online</option>
                    <option value="paper">Paper</option>
                    <option value="other">Other</option>
                  </select>
              </div>
            </div>
      </div>
      <button type="submit" class="btn btn-success" style="float: right; padding: 10px; margin: 10px;">Create Media</a>
    </form>
  </div>
<% include ./partials/formValidationScript%>
<% include ./partials/scripts%>
</body>
</html>
