<!DOCTYPE html>
<html>
  <head>
    <title>New User</title>
    <% include ./partials/css%>
  </head>
<body>
  <%- include('partials/navbar', {admin:admin}) %>
  <div class="content-form">
    <form class="impact-form" action="/admin/add-social-media" method="post" novalidate>
      <h2>New Social Media</h2>
      <div class="form-group">
        <label for="exampleFormControlInput1">Social Media</label>
        <input type="text" id="social_media" class="form-control" name="social_media" required>
      </div>
      <button type="submit" class="btn btn-success" style="float: right; padding: 10px; margin: 10px;">Add</a>
    </form>
  </div>
<% include ./partials/formValidationScript%>
<% include ./partials/scripts%>
</body>
</html>
