<!DOCTYPE html>
<html>
<head>
    <title>Stats</title>
    <% include ./partials/css%>
</head>
<body>
<%- include('partials/navbar', {admin:admin}) %>
<div class="content">
    <h2 style="float: left;">Stats</h2>
</div>
<% include ./partials/scripts%>
</body>
</html>
