<!DOCTYPE html>
<html>
<head>
    <title>Stats</title>
    <% include ./partials/css%>
</head>
<body>
<%- include('partials/navbar', {admin:admin}) %>
<div class="content">
    <h2 style="float: left;">Stats</h2>
        <iframe src="https://app.powerbi.com/view?r=eyJrIjoiOTA1YTIzNGQtMDBjZC00YjFlLWI3NjMtYmU2NzAzNTA2NTRkIiwidCI6ImFhYWVkZDAyLTNmYjAtNDZlOC04ZjNkLTQwMGZlYmJiZTRkZSIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
<% include ./partials/scripts%>
</body>
</html>
