<!DOCTYPE html>
<html>
	<head>
		<title>User Info</title>
		<% include ./partials/css%>
	</head>
	<body>
		<%- include('partials/navbar', {admin:admin}) %>
		<div class="content-form">
				<form class="impact-form" action="/user/edit/" method="post" novalidate></form>
					<h2>User Info</h2>
					<label for="exampleFormControlInput1">Username</label>
					<input type="text" class="form-control" name="username" value="<%= user.username %>">
					<label for="exampleFormControlInput1">First name</label>
					<input type="text" class="form-control" name="first_name" value="<%= user.first_name %>">
					<label for="exampleFormControlInput1">Last name</label>
					<input type="text" class="form-control" name="last_name" value="<%= user.last_name %>">
					<label for="exampleFormControlInput1">Password</label>
					<input type="secret" class="form-control" name="password">
					<label for="exampleFormControlInput1">Repeat password</label>
					<input type="secret" class="form-control" name="password_check">
				<button type="submit"class="btn btn-success" style="float: right;margin: 10px;">Submit Changes</a>
			</form>
		</div>
		<% include ./partials/formValidationScript%> 
		<% include ./partials/scripts%>
	</body>
</html>
