<!DOCTYPE html>
<html>
	<head>
		<title>User Info</title>
		<% include ./partials/css%>
	</head>
	<body>
		<%- include('partials/navbar', {admin:admin}) %>
		<div class="content">
			<h2>User Info</h2>
		</div>
		<% include ./partials/formValidationScript%> <% include ./partials/scripts%>
	</body>
</html>
