body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 20px; 
}

a {
  color: #00B7FF;
}

.navbar {
  height: 60px;
  color: blue;
}

table, th, td {
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;
}

.publication-form{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 30px;
}