body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  height: 80px;
}

table, th, td {
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;
}

.publication-form{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
}