body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 20px; 
}

.navbar {
  height: 60px;
}

h2 {
  margin-bottom: 25px;
}

.link {
  text-decoration: none;
}

.publication-form{
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 30px;
}

.publication-table{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
}

.chart-container{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
}

.chart{
  height: 300px;
  width: 90%;
}