<!DOCTYPE html>
<html>
  <head>
    <title>PDF</title>
  </head>
<body>
  <h2 style="text-align: center;font-weight: bold">IMDEA Networks Communications Report – Media Impact</h2>
  <h3 style="text-align: center;font-weight: normal">PR: <%= Impact.headline %></h3>
  <h3 style="text-align: center;font-weight: normal"><%= Impact.date.toLocaleDateString() %></h3>
</body>
</html>